@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 20px;
  background-color: rgb(82, 82, 82);
}
h1 {
  font-family: "Saira", sans-serif;
  letter-spacing: 4px;
  text-align: center;
  font-size: 40px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(118, 174, 118);
  padding: 12px;
}
.container-form {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-top: -10px;
  padding: 5px;
}
input {
  height: 23px;
  width: 190px;
  border: none;
  border-radius: 5px;
  padding: 9px;
  border: 1px solid;
  background-color: rgb(223, 223, 223);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "Saira", sans-serif;
}
.btn {
  border: none;
  padding: 9px 9px;
  background-color: darkseagreen;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Saira", sans-serif;
}
.btn:active {
  transform: translateY(4px);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #8fd88f;
}
.qrContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 10px;
  margin-left: 40px;
}
.qr-box {
  border: 2px solid #8fd88f;
  padding: 20px 22px;
  color: aliceblue;
}
.fa-solid {
  margin-top: 30px;
  cursor: pointer;
}
